# Ignore virtual environment
venv/
.venv/

# Ignore dataset
data/

# Ignore compiled python files
__pycache__/
*.pyc

# Ignore model checkpoints (if you save any later)
*.pt
*.pth

# Ignore system files
.DS_Store
Thumbs.db
